body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.ad {
    width: 100px;
    height: 400px;
    margin: 0 10px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

canvas {
    background-color: black;
    border: 2px solid white;
}
